/2022/*.d.ts
/2022/*.d.ts.map
/2022/*.js
/2022/*.js.map
/2022/*.mjs

/2019/*.d.ts
/2019/*.d.ts.map
/2019/*.js
/2019/*.js.map
/2019/*.mjs

/types/*.d.ts
/types/*.d.ts.map
/types/*.js
/types/*.js.map
/types/*.mjs

/node_modules
